@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: white;
    background-color: black;
}

section{
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.descricao{
    width: 35%;
    padding-right: 1em;
    font-family: 'Krona One', sans-serif;
}

.descricao p{
    padding-top: 2em;
    font-family: 'Montserrat', sans-serif;
}

.descricao span{
    color:#22D4FD;

}

.links{
    width: 100%;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

.links h2{
    font-size: 14px;
    font-weight: 300;
}

.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 10px;
    gap: 0.5em;
    color: white;
    width: 50%;
    height: 6em;
    border-radius: 0.6em;
    border: 1px solid #22D4FD;
    transition: 0.2s;
}

.links a:hover{
    cursor: pointer;
    background-color: #22D4FD;
}

.links img{
    height: 1.5em;
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 50%;
}

nav{
    display: flex;
    gap: 1em;
    width: 10em;
}

nav a{
    text-decoration: none;
    color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
}

footer{
    background-color: #22D4FD;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}



@media(max-width:800px){
    section{
        display: flex;
        flex-direction: column;
    }
    .descricao{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin-left: 1em;
        text-align: center;
    }

    .imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
    }
    .imagem img{
        width: 50%;
    }

    header{
        width: 100%;
    }

    footer{
        margin-top: 2em;
    }
}